.header-card {
    min-width: 360px;

    .mat-card-header {
        justify-content: center;
        .mat-card-title {
            display: flex;
            align-items: center;
            .example-button-container {
                margin-left: 25px;
            }
        }
        .logo {
            position: absolute;
            width: 70px;
            left: 10px;
            top: 10px;
        }
        .reset_button {
            position: absolute;
            left: 5px;
            top: 45px;
        }
    }
    .mat-card-content {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
}

